* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/*---blog---*/

#blog-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
}

#blog-container .blogs {
  width: 60%;
}

#blog-container .cate {
  width: 30%;
}

#blog-container .blogs img {
  width: 100%;
  border-radius: 19px;
}

#blog-container .blogs .post {
  padding-bottom: 60px;
}

#blog-container .blogs .post h3 {
  color: #29303b;
  padding: 15px 0 10px 0;
}

#blog-container .blogs .post p {
  color: #757373;
  padding-bottom: 20px;
}

#blog-container .blogs .post a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 3px;
  background-color: rgb(21, 21, 100);
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
}

#blog-container .cate {
  width: 30%;
}

#blog-container .cate h2 {
  padding-bottom: 7px;
}

#blog-container .cate a {
  text-decoration: none;
  color: #757375;
  font-weight: 500;
  line-height: 45px;
}

#blog-container .blogpost {
  width: 60%;
  margin: 0 auto;
}

#blog-container .blogpost p {
  text-align: justify;
  padding-bottom: 60px !important;
}

/*course-inner--*/
#course-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
}

#course-inner h3 {
  padding: 35px 0 2px 0;
  color: #29303b;
}

#course-inner p {
  color: #64626e;
}

#course-inner hr {
  height: 1px;
  background: rgba(236, 226, 229, 0.5);
  margin-top: 40px;
}

#course-inner .overview {
  width: 70%;
}


#course-inner .overview .course-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

#course-inner .overview .course-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#course-inner .overview .course-head .c-name {
  width: 70%;
}

#course-inner .overview .course-head .c-name h2 {
  color: #29303b;
}

#course-inner .overview .course-head .c-name .star {
  margin: 6px 0;
}

#course-inner .overview .course-head .c-name .star i {
  color: #fdc93b;
  font-size: 0.9rem;
}

#course-inner .overview .course-head .c-name .star p {
  font-size: 15px;
}

#course-inner .overview .course-head span {
  padding: 16px 22px;
  color: #5838fc;
  font-size: 22px;
  border-radius: 5px;
  font-weight: 700;
  background-color: rgba(88, 56, 252, 0.1);
}

#course-inner .learn p {
  font-size: 15px;
  padding-bottom: 15px;
}

#course-inner .learn p i {
  color: #654ce4;
  font-weight: 700;
  margin-right: 20px;
}

#course-inner .tutor {
  display: flex;
}

#course-inner .tutor img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

#course-inner .tutor h5 {
  font-size: 15px;
}

#course-inner .enroll {
  width: 255px;
  height: fit-content;
  padding: 0 10px 10px 10px;
  border-radius: 11px;
  box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#course-inner .enroll h3 {
  padding-bottom: 10px;
}

#course-inner .enroll p {
  font-size: 15px;
  color: #64626e;
  margin: 2px 0;
}

#course-inner .enroll p i {
  color: #271e59;
  margin-right: 20px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

#course-inner .enroll-btn {
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: center;
}

#course-inner .enroll-btn a {
  text-decoration: none;
  font-size: .8rem;
  padding: 13px 45px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background-color: rgb(42, 42, 95);
}

/*---contact--*/
#contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact .getin {
  width: 350px;
}

#contact .getin h2 {
  color: #1f1932;
  font-size: 30px;
  font-weight: 800;
  line-height: .8;
  margin-bottom: 16px;
}

#contact .getin p {
  color: #58536b;
  line-height: 24px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #c7c1f3;
}

#contact .getin h3 {
  color: #1f1932;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 15px;
  margin-right: 15rem;
}
#contact .getin .getin-details div{
display: flex;
}
#contact .getin .getin-details div .get{
font-size: 16px;
line-height: 40px;
color: #282048;
margin-right: 20px;
}
#contact .getin .getin-details div p{
  font-size: 14px;
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
}
.pro-links{
  margin-top: 1px;
}
.pro-links i{
  padding: 10px 13px;
  cursor: pointer;
  border: 1px solid #58536b; 
  margin-right: 2px;
  float: left;
}

#contact .form{
  width: 50%;
  background: #f7f6fa;
  padding: 50px;
  border-radius: 10px;
}
#contact .form h4{
font-size: 24px;
color: #2c234d;
line-height: 30px;
margin-bottom: 8px;
}
#contact .form p{
  color: #686875;
  background: #f7f6fa;
  padding-bottom: 25px;
 line-height: 24px;
}
#contact .form .form-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#contact .form .form-row input{
width: 35%;
font-size: 14px;
font-weight: 300;
border-radius: 3px;
border: none;
background: #fff;
color: #7e7c87;
outline: none;
padding: 20px 30px;
margin-bottom: 20px;
}
#contact .form .form-col input,
#contact .form .form-col textarea {
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  border: none;
  background: #fff;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
  }
  #contact .form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
  }
  #map{
    width: 100%;
    height: 70vh;
    margin-bottom: 2vh;
  }
  #map iframe{
    width: 100%;
    height: 100%;
  }


  

